// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.delete-form-button {
  display: inline-block;
}

.nav-item.nav-link {
  color: #404040;
}
